<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--Design by TEMPLATED-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/bootstrap.min.css/" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/static/css/home_page1.css/">
<script src="/static/js/bootstrap.min.js/"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">SWUPACE</a></h1>
				<p>SWU + SPACE</p>
			</div>
			<div id="login">
				<a href=""><img src="/static/img/login4.png" width="150" height="150" alt=""></a>
			</div>
		</div>
		<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">홈페이지</a></li>
				<li><a href="#" accesskey="1" title="">커뮤니티</a></li>
				<li><a href="#" accesskey="2" title="">공지사항</a></li>
				<li><a href="#" accesskey="3" title="">홍보게시판</a></li>
				<li><a href="#" accesskey="4" title="">정보게시판</a></li>
			</ul>
		</div>
	</div>
	<div id="page" class="container">
		<div class="column1">
			<div class="title">
				<h2>커뮤니티 최신글</h2>
			</div>
			<p>This is <strong>Wide-Range</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
		</div>
		<div class="column2">
			<div class="title">
				<h2>공지사항</h2>
			</div>
			<img src="/static/img/swuniz1.jpg" width="150" height="200" alt="" />
			<p>Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus.</p>
		</div>
		<div class="column3">
			<div class="title">
				<h2>홍보 게시판</h2>
			</div>
			<img src="/static/img/swuniz2.jpg" width="150" height="200" alt="" />
			<p>Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem.</p>
		</div>
		<div class="column4">
			<div class="title">
				<h2>정보 게시판</h2>
			</div>
			<img src="/static/img/swuniz3.jpg" width="150" height="200" alt="" />
			<p>Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris.</p>
		</div>
	</div>
	  <div id='wrap'>

    <div id='calendar'></div>

    <div style='clear:both'></div>
  </div>

	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>바로가기</h2>
				<span class="byline">서울여자대학교 관련 사이트 바로가기</span> </div>
			<div class="column1">
				<div class="box">
					<h3>서울여자대학교</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
					<a href="http://www.swu.ac.kr/index.do" class="button">서울여자대학교</a> </div>
			</div>
			<div class="column2">
				<div class="box">
					<h3>서울여자대학교 종합정보시스템</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
					<a href="http://swis.swu.ac.kr/" class="button">종합정보시스템</a> </div>
			</div>
			<div class="column3">
				<div class="box">
					<h3>서울여자대학교 e-class</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
					<a href="https://cyber.swu.ac.kr/" class="button">e-class</a> </div>
			</div>
			<div class="column4">
				<div class="box">
					<h3>서울여자대학교 기숙사</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
					<a href="https://dorm.swu.ac.kr/" class="button">샬롬하우스</a> </div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by 서울여대 학우.</p>
</div>
</body>
</html>
